html, body, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6em;
}

/* general */
.clear {
  clear: both;
}

.container {
  width: 80%;
  position: relative;
  text-align: center;
  margin: 25px auto;
  padding: 70px 0;

}

.container-dark {
  width: 100%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 50px 0;
  background-color: #403D58;
}

.section-head {
  color: #62466B;
  text-align: center;
}

#cta-head {
  color: #fff;
  font-size: 3.4em;
  text-shadow: 2px 2px 5px #000;
  text-transform: uppercase;
  padding-top: 10%;
}

h4 {
  color: #896978;
}

/* main navigation */

.header {
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 0;
  padding: 0;

}

.main-nav {
  background-color: #403D58;
  position: fixed;
  width: 100%;
  z-index: 1000;

}

.main-nav h3 {
  font-family: 'Lobster', cursive;
  color: #F2EFEA;
  font-size: 1.9em;
  text-shadow: 2px 2px 3px #000;
}


.main-nav li {
  display: inline-block;
  float: right;
  margin: 12px 0 0 12px;
}

.main-nav a {
  color: #F2EFEA;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.nav-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.company-name {
  float: left;
}

/* call to arms */


.cta-bg {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url('../img/workspace.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #403D58;
}

.cta-info {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background-color: #403D58;
  width: 40%;
  height: 400px;
}

.cta-btn {
  background-color: #DB9D47;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  padding: 20px;
  text-transform: uppercase;
  width: 60%;
}

/* our services overview */

.service-left {
  color: #DB9D47;
  width: 20%;
  float: left;
}

.service-right {
  color: #DB9D47;
  width: 20%;
  float: right;
  text-align: right;
}

.service-ct-r {
  float: right;
  width: 80%;
}

.service-ct-l {
  float: left;
  width: 80%;
}


.service-container-l {
  margin: 75px auto;
  text-align: left;
}

.service-container-r {
  margin: 75px auto;
  text-align: right;
}

footer {
  color: #fff;
}

/* contact page */
label {
  display: block;
  text-align: left;
}
.contact-form {
  background-color: #8C93A8;
  padding: 20px;
  width: 50%;
  float: left;
}

.contact-btn {
  width: 95%;
  color: #fff;
  background-color: #DB9D47;
  padding: 10px;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
}

.form-line, select {
  width: 90%;
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  border: none;
  box-shadow: none;
}

.media-contact {
  width: 30%;
  display: inline-block;
}

/* about page */
 #list {
   text-align: left;
 }

 /* staff page */
 .card {
   display: inline-block;
   margin: 20px;
   padding: 20px;
 }

 .thumbnail {
     position:relative;
     overflow:hidden;
     border-radius: 50%;
     box-shadow: 4px 7px 5px #ccc;
     height: 200px;
     width: 200px;
     margin-bottom: 18px;
 }
 .thumbnail img{
     position:absolute;
     height: auto;
     width: auto;
     max-width:100%;
 }

 .centered img {
     position:absolute;
     top: 0;
     transform: translateY(50%);
     transform: translateX(-50%);
 }
/* rates page */

table {
  margin: 0 auto;
  padding: 15px;
}

th {
  background-color: #DB9D47;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
}

td {
  padding: 10px;
}

/* responsive */

@media only screen and (max-width: 720px) {
  .cta-background, .cta-info, .service-left, .service-right, .service-ct-r, .service-ct-l, .media-contact, .contact-form {
    display: block;
    width: 100%;
    text-align: center;
  }
}
